# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

api_documentation_discrepancies.md
api_discrepancies.txt
authorize.txt
pet.txt
store.txt
user.txt